.container {
    width: 1280px;
    margin: 0 auto;
}
.logo-text{
    font-size:40px;
    font-family: sans-serif;
    margin:20px 0;
}
.light-blue{
  color:#4bcaff;
}
.header{
    background: #35444f;
    text-align: center;
}
.menu-link{
    text-decoration: none;
    color:white;
    font-size: 20px;
    padding:21px 40px;
    display: inline-block;
}
.menu-link:hover{
    background: #222f3a;
    border-right: 1px solid white;
    border-left: 1px solid white;
}
.content{
    margin-top:50px;
}
.content-sidebar{
    display: inline-block;
    vertical-align: top;
    margin-right: 52px;
}
.sidebar-menu{
    border:1px solid #35444f;
    border-radius: 5px;
    padding: 0;
    margin:0;
}
.sidebar-menu-item{
    list-style-type:none;
}
.sidebar-menu-item-link{
    padding:15px 50px 15px 30px;
    display: block;
    color:#859097;
    text-decoration: none;
    width: 180px;
    font-size: 20px;
}
.sidebar-menu-item-link:hover{
    color:black;
    background: #dbdbdb;
    text-align: center;
}
.content-article{
    display: inline-block;
    width: 75%;
}
.article-bg{
    text-align: center;
    border:1px solid black;
    padding:75px 0;
}
.article-img{
    width:35%;
    display: inline-block;
}
.article-text-container{
    font-size: 18px;
    text-align: left;
}
.article-text{
    margin-bottom: 30px;
}
.footer-container{
    background: #b4b7ba;
}
.footer-left-side{
    display: inline-block;
}
.footer-link{
    text-decoration: none;
    font-size:20px;
    padding:22px 0 21px 44px;
    display: inline-block;
    color:black;
}
.footer-link:hover{
    color:#3181a6;
    text-decoration: underline;
}
.footer-right-side{
    display: inline-block;
    width: 40%;
    text-align: right;
    font-size: 20px;
}